.staking-detail {
    position: absolute;
    top: 10;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: black;
}

.close-staking-detail {
    display: flex;
    justify-content: space-between;
    width: 82.6%;
    margin-top: 40px;
}

.close-form {
    display: flex;
    cursor: pointer;
}

.border-close {
    width: 34px;
    height: 34px;
    background: #F901F3;
    border-radius: 5px;
}

.logo-close {
    width: 24px;
    height: 24px;
    text-align-last: center;
    margin-left: 5px;
    margin-top: 5px;
}

#back {
    font-size: 18px;
    color: #CF00CA;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 4px;
}

#staking-detail-text {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2%;
    text-align: center;
    color: #CF00CA;
}

.staking-detail-container {
    display: flex;
    justify-content: space-between;
    width: 54%;
    margin: auto;
    margin-top: 80px;
}

.product-detail-container {
    width: 263px;
}

.info-container {
    width: 263px;
    height: 164px;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-info-container {
    height: 30px;
    background: #2C3350;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 5px;
}

#item-info {
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.detail-item-info {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin: auto;
}

.col-1 {
    width: 50%;
}

#col-1-line1, #col-1-line2, #col-1-line3, #col-1-line4 {
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    padding-top: 15px;
}

.col-2 {
    width: 10%;
}

#col-2-line-1, #col-2-line-2, #col-2-line-3, #col-2-line-4 {
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    padding-top: 15px;
}

.col-3 {
    width: 40%;
}

.collection-info {
    width: 263px;
    height: 30px;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header-collection-info {
    height: 30px;
    background: #2C3350;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;   
}

.flex-header-collection-info {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 5px;
}

#info-collection-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2%;
    color: white;
}

.detail-description {
    width: 470px;
    height: 40%;
    background: #0F121E;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
}
.detail-description-unstake {
    width: 470px;
    height: 46%;
    background: #0F121E;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
}

.wrapper-detail-description {
    width: 80%;
    margin: auto;
}

#title-description-detail {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #05F5B4;
    padding-top: 20px;
}

#sub-title-description-detail {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    color: white;
    padding-top: 5px;
}

#text-description-detail {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2%;
    color: white;
    padding-top: 10px;
}

.stake-btn {
    width: 75px;
    height: 30px;
    background: #05F5B4;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

#stake-btn-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2%;
    color: black;
    text-align: center;
    padding-top: 3px;
}

#nft-boost {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #F901F3;
    padding-top: 55px;
}

#reward-staked-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #F901F3;
}

.nft-boost-detail {
    display: flex;
    justify-content: space-between;
}

#staking-boost, #additional-pool, #reward-amount-text, #staked-tokens-title, #total-staked-title{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2%;
    color: white;
}

#value-staking-boost, #value-additional-pool{
    color: #05F5B4;
    font-size: 12px;
}

#reward-amount-val, #staked-tokens-val, #total-staked-val {
    color: #05F5B4;
    font-size: 12px;
    padding-left: .5em;
}

.reward-amount, .staked-tokens, .total-staked {
    display: flex;
}

.reward-staked-info {
    margin-top: 20px;
}

.reward-flex {
    display: flex;
    justify-content: space-between;
}

.owner-info {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.border-logo-owner {
    width: 151px;
    height: 151px;
    background: #0F121E;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
}

.owner-img {
    width: 200px;
    margin-left: -25px;
}

#logo-owner-info {
    width: 200px;
    height: 156px;
    z-index: 2;
    margin-top: 10px;
}

.owner-info {
    margin-top: 40px;
}

#ggg-owner {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    color: white;
}

#link-ggg {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2%;
    color: white;
    padding-top: 10px;
}

.stake-btn-action-unstake {
    display: flex;
    justify-content: space-between;
    width: 34%;
    margin-top: 15px;
}

.button-unstake {
    width: 101.92px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.button-unstake-1 {
    width: 101.92px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    cursor: default;
}

#unstake-title-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
    padding-top: 3px;
}
#unstake-title-btn-1 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #C4C4C4;
    padding-top: 3px;
}

.border-button-unstake {
    width: 15px;
    height: 15px;
    background: #F50505;
    border-radius: 2px;
    cursor: pointer;
}

.wrapper-close-logo-unstake {
    margin-top: -6px;
}

.close-button-unstake {
    width: 10.71px;
    height: 10.71px;
    margin-left: 2px;
}

.unstake-duration {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
}

.duration-times {
    width: 89.61px;
    height: 30px;
    background: #05F5B4;
    border-radius: 5px;
    cursor: pointer;
}

#duration-time-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2%;
    color: black;
    text-align: center;
    padding-top: 4px;
}

.alert-submit {
    position: absolute;
    height: 60px;
    left: 30%;
    top: 70px;
    width: 40%;
    background: #0F121E;
    border: 1px solid #F901F3;
    box-sizing: border-box;
    border-radius: 15px;
}


.container-alert-submit {
    text-align: center;
    color: white;
}

#alert-submit-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2%;
    padding-top: 15px;
}

@media screen and (max-width: 1600px) and (min-width: 1501px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: auto;
        margin-top: 80px;
    }
    .wrapper-detail {
        height: 86vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
    .staking-detail {
        height: 90vh;
    }
}

@media screen and (max-width: 2200px) and (min-width: 1701px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: auto;
        margin-top: 75px;
    }
    .wrapper-detail {
        height: 87vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
    .staking-detail {
        height: auto;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1601px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: auto;
        margin-top: 75px;
    }
    .wrapper-detail {
        height: 87vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
    .staking-detail {
        height: auto;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: auto;
        margin-top: 40px;
    }
    .wrapper-detail {
        height: 87vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
    .staking-detail {
        height: auto;
        /* background: red; */
    }
}

@media screen and (max-width: 1400px) and (min-width: 1350px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 105vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1349px) and (min-width: 1300px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 57%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: 111vh;
    }
    .wrapper-detail {
        height: 110vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1250px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 59%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: 118vh;
    }
    .wrapper-detail {
        height: 112vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1249px) and (min-width: 1200px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 62%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 120vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1150px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 66%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 122vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1149px) and (min-width: 1100px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 66%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: 135vh;
    }
    .wrapper-detail {
        height: 129vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1099px) and (min-width: 1050px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 69%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 122vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1049px) and (min-width: 1000px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 69%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 124vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 999px) and (min-width: 900px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 69%;
        margin: auto;
        margin-top: 80px;
    }
    .staking-detail {
        height: auto;
    }
    .wrapper-detail {
        height: 128vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    }
}

@media screen and (max-width: 1049px) and (min-width: 900px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 74%;
        margin: auto;
        margin-top: 80px;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 85.6%;
        margin-top: 40px;
    }
    #staking-detail-text {
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    /* .right-detail-container {
        margin-left: 5%;
    } */
    .detail-description {
        width: 92%;
        height: 40%;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 92%;
        height: 46%;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    /* .staking-detail {
        height: 130vh;
    }
    .wrapper-detail {
        height: 124vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 4;
    } */
}

@media screen and (max-width: 899px) and (min-width: 734px) {
    .staking-detail-container {
        display: flex;
        justify-content: space-between;
        width: 74%;
        margin: auto;
        margin-top: 80px;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 85.6%;
        margin-top: 40px;
    }
    #staking-detail-text {
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .right-detail-container {
        margin-left: 5%;
    }
    .detail-description {
        width: 85%;
        height: 40%;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 92%;
        height: 46%;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
    .wrapper-detail {
        height: 130vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 733px) and (min-width: 600px) {
    .staking-detail {
        height: auto;
        background: black;
    }
    .wrapper-detail {
        height: 224vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 40%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 44px;
        height: 32px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 18px;
    }
    #staking-detail-text {
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        margin: auto;
        width: 100%;
    }
    .right-detail-container {
        margin: auto;
        margin-top: 20px;
        width: 100%;
    }
    .detail-description {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 599px) and (min-width: 530px) {
    .staking-detail {
        height: auto;
        background: black;
    }
    .wrapper-detail {
        height: 224vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 46%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 44px;
        height: 32px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 18px;
    }
    #staking-detail-text {
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        margin: auto;
        width: 100%;
    }
    .right-detail-container {
        margin: auto;
        margin-top: 20px;
        width: 100%;
    }
    .detail-description {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 529px) and (min-width: 500px) {
    .staking-detail {
        height: 230vh;
        background: black;
    }
    .wrapper-detail {
        height: 224vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 75%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 36px;
        width: 90%;
        margin: auto;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        margin: auto;
        width: 70%;
    }
    .right-detail-container {
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .detail-description {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 499px) and (min-width: 460px) {
    .staking-detail {
        height: 230vh;
        background: black;
    }
    .wrapper-detail {
        height: 224vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 36px;
        width: 90%;
        margin: auto;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        margin: auto;
        width: 70%;
    }
    .right-detail-container {
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .detail-description {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 459px) and (min-width: 418px) {
    .staking-detail {
        height: 230vh;
        background: black;
    }
    .wrapper-detail {
        height: 224vh;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 82%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 34px;
        width: 90%;
        margin: auto;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        margin: auto;
        width: 70%;
    }
    .right-detail-container {
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
    .detail-description {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 270px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 417px) and (min-width: 400px) {
    .staking-detail {
        height: 234vh;
        background: black;
        width: 100%;
    }
    .wrapper-detail {
        height: 226vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 64%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
        /* width: 130%; */
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        width: 100%;
        margin: auto;
    }
    .right-detail-container {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        /* width: 100%; */
    }
    .detail-description {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
    .reward-staked-info {
        width: 110%;
    }
    .owner-info {
        width: 100%;
        flex-wrap: wrap;
    }
    .description-company {
        margin-top: 10px;
    }
}

@media screen and (max-width: 399px) and (min-width: 380px) {
    .staking-detail {
        height: 234vh;
        background: black;
        width: 100%;
    }
    .wrapper-detail {
        height: 226vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 67%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
        /* width: 130%; */
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        width: 100%;
        margin: auto;
    }
    .right-detail-container {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        /* width: 100%; */
    }
    .detail-description {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
    .reward-staked-info {
        width: 110%;
    }
    .owner-info {
        width: 100%;
        flex-wrap: wrap;
    }
    .description-company {
        margin-top: 10px;
    }
}

@media screen and (max-width: 379px) and (min-width: 369px) {
    .staking-detail {
        height: 234vh;
        background: black;
        width: 100%;
    }
    .wrapper-detail {
        height: 226vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 70%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
        /* width: 130%; */
    }
    .border-close {
        width: 36px;
        height: 34px;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 80.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 32px;
        height: 30px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #staking-detail-text {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        width: 100%;
        margin: auto;
    }
    .right-detail-container {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        /* width: 100%; */
    }
    .detail-description {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
    .reward-staked-info {
        width: 110%;
    }
    .owner-info {
        width: 100%;
        flex-wrap: wrap;
    }
    .description-company {
        margin-top: 10px;
    }
}

@media screen and (max-width: 368px) and (min-width: 350px) {
    .staking-detail {
        height: 234vh;
        background: black;
        width: 100%;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 78.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 30px;
        height: 28px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    .wrapper-detail {
        height: 226vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 72%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .wrapper-detail-description {
        height: 42vh;
        /* width: 130%; */
    }
    #staking-detail-text {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
    }
    .left-detail-container {
        width: 100%;
        margin: auto;
    }
    .right-detail-container {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        /* width: 100%; */
    }
    .detail-description {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .detail-description-unstake {
        width: 265px;
        height: auto;
        background: #0F121E;
        border: 1px solid #F901F3;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .divider {
        width: 90%;
    }
    .reward-staked-info {
        width: 90%;
    }
    #title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: #05F5B4;
        padding-top: 20px;
    }
    
    #sub-title-description-detail {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-top: 5px;
    }
    
    #text-description-detail {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
    }
    #stake-btn-title {
        font-size: 14px;
    }
    .stake-btn {
        height: 25px;
    }
    .nft-boost-detail {
        width: 90%;
    }
    .owner-info {
        width: 90%;
    }
    .border-logo-owner {
        width: 141px;
    }
    .owner-img {
        width: 141px;
        margin-left: -25px;
    }
    #logo-owner-info {
        width: 170px;
    }
    #ggg-owner {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2%;
        color: white;
        padding-left: 10px;
    }
    
    #link-ggg {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        padding-top: 10px;
        padding-left: 10px;
    }
    .reward-staked-info {
        width: 110%;
    }
    .owner-info {
        width: 100%;
        flex-wrap: wrap;
    }
    .description-company {
        margin-top: 10px;
    }
}

@media screen and (max-width: 349px) and (min-width: 200px) {
    .staking-detail {
        height: 234vh;
        background: black;
        width: 100%;
    }
    .wrapper-detail {
        height: 226vh;
        width: 100%;
        background-image: url('../../../assets//bg-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .staking-detail-container {
        display: flex;
        width: 66%;
        margin: auto;
        margin-top: 80px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .left-detail-container {
        width: 100%;
    }
    .right-detail-container {
        width: 100%;
    }
    .wrapper-detail-description {
        height: 42vh;
    }
    .detail-description {
        width: 100%;
        margin-top: 20px;
        height: 45%;
    }
    .detail-description-unstake {
        width: 100%;
        margin-top: 20px;
        height: 45%;
    }
    .divider {
        width: 100%;
    }
    .reward-staked-info {
        width: 100%;
    }
    .nft-boost-detail {
        width: 100%;
    }
    .owner-info {
        flex-wrap: wrap;
    }
    .reward-flex {
        display: block;
    }
    .nft-boost-detail {
        display: block;
    }
    #staking-detail-text {
        font-size: 26px;
    }
    .product-detail-container {
        width: 100%;
    }
    .info-container {
        width: 100%;
    }
    .collection-info {
        width: 100%;
    }
    .description-company {
        margin-top: 10px;
        width: 100%;
    }
    .close-staking-detail {
        display: flex;
        justify-content: space-between;
        width: 75.6%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .close-form {
        width: 30px;
        height: 28px;
    }
    .logo-close {
        width: 24px;
        height: 24px;
        text-align-last: center;
        margin-left: 0px;
        margin-top: 5px;
    }
    #back {
        font-size: 16px;
    }
    #col-1-line1, #col-1-line2, #col-1-line3, #col-1-line4 {
        font-size: 10px;
        font-weight: 300;
        /* line-height: 14.06px; */
        padding-top: 15px;
    }
}