.staking {
    background: black;
    height: 140vh;
    width: 100%;
    position: absolute;
    top: 10;
    z-index: 1;
}
.container {
    background-image: url('../../../assets//bg-2.png');
    height: 140vh;
    top: 0;
    opacity: .5;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.alert-status-default {
    position: absolute;
    right: 8.6em;
    top: 10px;
    width: 35%;
    height: 40px;
    background: black;
    border: 1px solid #F901F3;
}
.alert-status {
    position: absolute;
    right: 8.6em;
    top: 10px;
    width: 30%;
    height: 60px;
    background: black;
    border: 1px solid #F901F3;
}

#title-alert {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.staking-content {
    position: relative;
    z-index: 2;
}

#metakey-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2%;
    text-align: center;
    color: #CF00CA;
    padding-top: 80px;
}

#desc-1 {
    color: #CF00CA;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2%;
    text-align: center;
    padding-top: 40px;
}
#desc-2 {
    width: 57%;
    margin: auto;
    color: #CF00CA;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2%;
    text-align: center;
    padding-top: 20px;
}

#metakey-tag {
    width: 40%;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2%;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 370px;
    width: 39%;
    margin: auto;
    margin-top: 25px;
    overflow: auto;
}

.products {
    margin-bottom: 25px;
}

.product-btn-purple {
    width: 175px;
    height: 41.04px;
    background: #F901F3;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.product-btn-white {
    width: 175px;
    height: 41.04px;
    background: #FFFFFF;
    border: 2px solid #CF00CA;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

#product-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2%;
    padding-top: 4px;
}

.wallet-btn-staking {
    margin: auto;
    width: 15%;
    margin-top: 40px;
}


@media screen and (max-width: 2000px) and (min-width: 1500px) {
    .products-wrapper {
        max-width: 35.5%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 961px) {
    .staking {
        background: black;
        height: 150vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 150vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 35%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
        color: white;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
        color: white;
    }
    
    #title-alert {
        color: white;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
    }
    #desc-2 {
        width: 57%;
        margin: auto;
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 40%;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 45%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
        /* width: 30%; */
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 20%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 960px) and (min-width: 733px) {
    .staking {
        background: black;
        height: 155vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 155vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
    }
    #desc-2 {
        width: 57%;
        margin: auto;
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 40%;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 60%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 28%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 732px) and (min-width: 666px) {
    .staking {
        background: black;
        height: 160vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 160vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
    }
    #desc-2 {
        width: 57%;
        margin: auto;
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 40%;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 32%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 33%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 665px) and (min-width: 561px) {
    .staking {
        background: black;
        height: 159vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 159vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
    }
    #desc-2 {
        width: 68%;
        margin: auto;
        color: #CF00CA;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 55%;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 42%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 45%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 560px) and (min-width: 500px) {
    .staking {
        background: black;
        height: 159vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 159vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
        width: 70%;
        margin: auto;
    }
    #desc-2 {
        width: 68%;
        margin: auto;
        color: #CF00CA;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 55%;
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 43%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 46%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 499px) and (min-width: 451px) {
    .staking {
        background: black;
        height: 140vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 140vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
        width: 70%;
        margin: auto;
    }
    #desc-2 {
        width: 68%;
        margin: auto;
        color: #CF00CA;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 55%;
        margin: auto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 48%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 50%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 450px) and (min-width: 400px) {
    .staking {
        background: black;
        height: 140vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 140vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
        width: 70%;
        margin: auto;
    }
    #desc-2 {
        width: 69%;
        margin: auto;
        color: #CF00CA;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 55%;
        margin: auto;
        font-size: 12.5px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 55%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 56%;
        margin-top: 40px;
    }
}

@media screen and (max-width: 399px) and (min-width: 300px) {
    .staking {
        background: black;
        height: 140vh;
        width: 100%;
        position: absolute;
        top: 10;
        z-index: 1;
    }
    .container {
        background-image: url('../../../assets//bg-2.png');
        height: 140vh;
        top: 0;
        opacity: .5;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .alert-status-default {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 40px;
        background: black;
        border: 1px solid #F901F3;
    }
    .alert-status {
        position: absolute;
        right: 8.6em;
        top: 10px;
        width: 30%;
        height: 60px;
        background: black;
        border: 1px solid #F901F3;
    }
    
    #title-alert {
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }
    
    .staking-content {
        position: relative;
        z-index: 2;
    }
    
    #metakey-title {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2%;
        text-align: center;
        color: #CF00CA;
        padding-top: 80px;
    }
    
    #desc-1 {
        color: #CF00CA;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 40px;
        width: 70%;
        margin: auto;
    }
    #desc-2 {
        width: 69%;
        margin: auto;
        color: #CF00CA;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 2%;
        text-align: center;
        padding-top: 20px;
    }
    
    #metakey-tag {
        width: 55%;
        margin: auto;
        font-size: 12.5px;
        font-weight: 400;
        letter-spacing: 2%;
        color: white;
        text-align: center;
        padding-top: 30px;
    }
    
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 370px;
        width: 57%;
        margin: auto;
        margin-top: 25px;
        overflow: auto;
    }
    
    .products {
        margin-bottom: 25px;
    }
    
    .product-btn-purple {
        width: 175px;
        height: 41.04px;
        background: #F901F3;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    .product-btn-white {
        width: 175px;
        height: 41.04px;
        background: #FFFFFF;
        border: 2px solid #CF00CA;
        border-radius: 5px;
        color: black;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #product-text {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2%;
        padding-top: 4px;
    }
    
    .wallet-btn-staking {
        margin: auto;
        width: 56%;
        margin-top: 40px;
    }
}