.pop-up {
    background: rgba(0, 0, 0, 0.44);;
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.pop-up-content {
    width: 50%;
    height: auto;
    background: #000000;
    border: 1px solid #05F5B4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 180px;
}

.top-space {
    height: 10px;
}

.header-box-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.close-wallet-modal {
    display: flex;
    cursor: pointer;
}

#wallet-connect {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    /* padding-top: 65px; */
}

.border-box-wallet {
    width: 80%;
    height: 40px;
    background: #C4C4C4;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.wrapper-box-wallet {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 90%;
    margin: auto;
    cursor: pointer;
}

#title-box-wallet {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2%;
    padding-top: 5px;
}
.divider-wallet {
    width: 90%;;
}

.large-box {
    width: 80%;
    height: 400px;
    background: black;
    border-radius: 18px;
    /* border: 2px solid #F901F3; */
    margin: auto;
    box-shadow:0px 0px 1px  #05F5B4;
    margin-top: 30px;
    margin-bottom: 30px;
}
.small-box {
    width: 80%;
    height: 266px;
    background: #000000;
    border-radius: 10px;
    margin: auto;
}

.round {
    margin: auto;
    width: 15%;
}

.ellipse {
    margin-top: 30px;
}

.connect-pop-up {
    width: 402px;
    height: 59px;
    background: #05F5B4;
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
}

#connect-pop-up-text, #cancel-pop-up-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2%;
    text-align: center;
    padding-top: 10px;
}

.cancel-pop-up {
    width: 472px;
    height: 59px;
    background: #F50505;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}